.container{
    align-items: center;
    background-color: rgb(255, 224, 123);
    font-family: serif;
}
.counter-box{
    text-align: center;
    justify-content: center;
}
.button-container{
    
    content: icon;
    justify-content: center;
}