.nav-bar{
    display: flex;
    background-color: lavender;
    padding: 15px;
    list-style-type: none;
    justify-content: space-evenly;
}
.nav-link{
    text-decoration: none;
    color:brown;
}